.send-mail {
    position: absolute;
    bottom: 0;
    right: 40px;
    background-color: #404040;
    width: 40%;
    height: 40%;
    max-width: 500px;
    border-radius: 5px;
    border: 0.1px solid black;
    
    form {
        display: flex;
        flex-direction: column;
        flex: 1;
        input {
            padding: 10px;
            height: 30px;
            border: none;
            border-bottom: 2px solid whitesmoke;
            outline: none;
        }
        .input-error {
            color: red;
            font-size: 11px;
            background-color: white !important;
            padding-left: 10px;
        }
        .send-mail-message {
            height: 130px !important;
            
        }
    }
}

.send-mail-header {
    display: flex;
    justify-content: space-between;
    color: gray;
    align-items: center;
    padding: 15px;
    h3 {
        color: whitesmoke;
        font-size: 13px;
    }
    //border-bottom: 1px solid whitesmoke;
}
.send-mail-close {
    cursor: pointer;
}
.send-mail-send {
background-color: #3079ed !important;
text-transform: capitalize !important;
margin: 15px !important;
}
.send-mail-options {
    background-color: #404040;

}